#banner {
    background-color: lightgray;
}

#content {
    background-color: lightblue;
}

#supporting {
    background-color: white;
}

#footer {
    background-color: lightgray;
}

#columns {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
}
